[Unit]
Description=Initialize Cellular Dongle

[Service]
Type=oneshot
ExecStart=/usr/sbin/usb_modeswitch -v 0x1410 -p 0x9020 -u 2

[Install]
WantedBy=multi-user.target

