# Rickie Kerndt <rkerndt@cs.uoregon.edu>
# systemd service file to start, status and shutdown the Traffic Controller SErver
# This file should be located under directory /etc/systemd/system

[Unit]
    Description=Traffic Controller BikeIoT
    After=network.target

[Service]
    Type=notify
    KillMode=process
    WatchdogSec=60
    Restart=on_watchdog
    ExecStart=/usr/bin/python3 /home/pi/TC_server.py beacon_1.cs.uoregon.edu

[Install]
    WantedBy=multi-user.target